@media (max-width: 1399px)
	.sidepanel
		display: none

@media (max-width: 1200px) 
	.container
		max-width: 960px
	// .skills
	//     &__info
	//         grid-template-columns: repeat(3, 270px)
	//         grid-template-rows: repeat(3, 270px)
	.sidepanel
		display: none
	.about
		&__wrapper
			grid-template-columns: 375px 540px
			column-gap: 50px
		&__skills
			grid-template-columns: repeat(2, 220px) 
	.resume
		&__wrapper
			padding: 60px 0 0 0
			column-gap: 60px
	.skills
		&__info
			justify-content: center
			grid-template-columns: repeat(3, 270px)
		&__creating
			justify-content: space-evenly
			grid-template-columns: repeat(2, 350px)
	.portfolio
		&__wrapper
			gap: 10px
			justify-content: center
			grid-template-columns: repeat(3, 280px)
			#fourth
				grid-column: 3/4
				grid-row: 2/3
			#sixth
				grid-column: 2/3
	.contact
		&__wrapper
			grid-template-columns: 375px 445px
			column-gap: 50px
		&__form
			grid-template-columns: repeat(2, 210px)
	

@media (max-width: 991px) 
	.container
		max-width: 720px
	.btn
		&:hover
			background-image: none
			transform: scale(1)
	.promo
		&__title
			font-size: 39px
			// width: 320px
			line-height: 39px
		&__link
			&:first-child
				&:hover
					background-image: none
					transform: scale(1)
			&:hover
				animation: none
				border: none
			&:last-child
				border: 1px solid black
	.menu
		&__link
			a
				&:hover
					&:before
						width: 0%
	.humburger
		&:hover
			span
				width: 30px
				background: #000000
			span.long
				width: 36px
	.about
		.title_fz36
			// line-height: 44px
			font-size: 30px
		&__wrapper
			grid-template-columns: 330px 340px
			column-gap: 50px
		&__skills
			grid-template-columns: repeat(2, 260px) 
			grid-column: 1/3
			justify-content: center
		&__photo
			grid-row: 1/2
		&__skill
			&:nth-child(3)
				grid-column: 1/3
				justify-content: center 
	.resume
		&__wrapper
			grid-template-columns: repeat(2, 325px)
	.skills
		&__info
			justify-content: center
			grid-template-columns: repeat(2, 270px)
		&__creating
			justify-content: space-evenly
			grid-template-columns: repeat(2, 300px)
			&-line 
				width: 300px
		&__elem
			border-radius: 10px
			&:hover
				transform: scale(1) translateY(0px)
				box-shadow: none
	.portfolio
		&__wrapper
			grid-template-columns: repeat(2, 280px)
			gap: 15px
			#fourth
				grid-column: 2/3
				grid-row: 3
			#sixth
				grid-column: 1/2
				grid-row: 3
		&__elem
			img
				border-radius: 10px
	.price
		&__wrapper
			padding: 60px 0 0 20px
			justify-content: center
			column-gap: 50px
			grid-template-columns: repeat(2, 301px)
			grid-template-rows: repeat(3, 44px)
			row-gap: 30px
	.contact
		&__circle
			&:before
				left: 50%
				transform: translateX(-50%)
		&__wrapper
			padding: 0
			grid-template-columns: 720px
			column-gap: 50px
		&__photo
			display: none
		&__form
			grid-template-columns: repeat(2, 280px)
			justify-content: space-evenly
		&__descr
			text-align: center
			// grid-column: 1/3
			.divider
				margin: 0 auto
		&__link
			img
				&:hover
					transform: scale(1)

@media (max-width: 767px) 
	.container
		max-width: 540px
	.promo
		&__title
			font-size: 31px
			width: 320px
			line-height: 39px
	.about
		padding: 70px 0
		&__photo
			grid-row-start: 1
			margin: 0 auto
			img
				width: 400px
				height: 440px
		&__wrapper
			justify-content: center
			grid-template-columns: 540px
			column-gap: 0px
			grid-template-rows: repeat(3, auto)
		&__descr
			grid-row-start: 2
		&__skills
			justify-content: start
			column-gap: 30px
			grid-template-columns: 250px 250px
			grid-template-rows: repeat(3, auto)
		&__skill
			&-text
				width: 180px
	.resume
		padding-bottom: 70px
		&__subtitle
			font-size: 30px
		&__wrapper
			grid-template-columns: 400px
			row-gap: 40px
	.skills
		padding-bottom: 70px
		&__subtitle
			font-size: 30px
		&__creating
			padding-top: 70px
			grid-template-columns: 350px
			&-line 
				width: 350px
	.portfolio
		padding-bottom: 70px
		&__subtitle
			font-size: 30px
		&__wrapper
			padding-top: 40px
			grid-template-columns: 280px
			gap: 10px
			#fourth
				grid-column: 1
				grid-row: 3 
			#sixth
				grid-column: 1
				grid-row: 4	
	.price
		padding-bottom: 70px
		&__wrapper
			grid-template-columns: 341px
	.contact
		padding-bottom: 70px
		.title_fz36
			font-size: 30px
		&__triggers
			column-gap: 50px
		&__wrapper
			justify-content: center
			grid-template-columns: 530px
		&__form
			grid-template-columns: repeat(2, 220px)
						
	
@media (max-width: 575px) 
	.container
		width: 100%
		padding: 0 10px
	.promo
		background: url('../img/Frame.png') no-repeat 54%/cover
		&__title
			font-size: 26px
			width: 300px
			line-height: 39px
		&__btns
			// flex-direction: column
			// align-items: center
			// width: 180px
		&__link
			&:last-child
				background: #8f8f8f5e
				color: #000000
	.menu
		&__block
			padding-left: 20px
			width: 250px
		&__link
			a
				&:hover
					&:before
						width: 0%	
	.humburger
		right: 20px
		top: 20px
	.about
		padding: 40px 0 45px 0
		.title_fz36
			font-size: 24px
			// line-height: 36px
		&__photo
			grid-row-start: 1
			// width: 100%
			margin: 0 auto
			img
				max-width: 300px
				height: 340px
		&__wrapper
			grid-template-columns: minmax(300px, 550px)
			column-gap: 0px
			// justify-content: center
			grid-template-rows: repeat(3, auto)
		&__skills
			column-gap: 0
			grid-template-columns: 260px
			justify-content: center
		&__skill
			&:nth-child(2)
				grid-row: 2/3 
			&:nth-child(3)
				justify-content: start
		&__text
			min-width: 310px
	.resume
		padding-bottom: 45px
		&__subtitle
			font-size: 24px
			line-height: 36px
		&__wrapper
			padding: 35px 0 0 0
			grid-template-columns: 280px
	.skills
		padding-bottom: 70px
		&__subtitle
			font-size: 24px
			line-height: 36px
			text-align: center
		&__info
			padding-top: 40px
			justify-content: center
			grid-template-columns: 270px
		&__creating
			padding-top: 60px
			justify-content: center
			grid-template-columns: 290px
			&-line 
				width: 290px
	.portfolio
		padding-bottom: 45px
		&__subtitle
			font-size: 24px
			line-height: 36px
	.price
		padding-bottom: 45px
		&__wrapper
			padding-top: 30px
			padding-left: 5px
			grid-template-columns: 260px
			grid-template-rows: repeat(3, 44px)
			gap: 20px
		&__elem
			justify-content: center
			align-items: center
			gap: 0px
			grid-template: 40px 18px/170px 90px
	.contact
		padding-bottom: 40px
		.title_fz36
			font-size: 24px
		&__triggers
			column-gap: 0px
		&__wrapper
			justify-content: center
			grid-template-columns: 300px
		&__form
			// justify-content: center
			grid-template-rows: 45px 45px 190px
			grid-template-columns: 300px
			#inp2
				grid-row: 2/3
			#txtarea
				grid-row: 3/4
		&__triggers
			justify-content: center
			column-gap: 0
			row-gap: 20px
			grid-template-columns: 220px
		&__btn
			margin: 0 auto
		&__policy
			margin: 0 auto
			width: 180px
			grid-row: 1/2
			a
				&:hover
					text-decoration: none
	
			
