*{
    box-sizing: border-box;
    padding: 0;
}

html{
    font-family: 'Roboto!';
    scroll-behavior: smooth;
}

@font-face{
    font-family: 'Philosopher!';
    src: local('Philosopher');
    src:url(../fonts/Philosopher-Regular.ttf);
}

@font-face{
    font-family: 'Roboto!';
    src: local('Roboto');
    src:url(../fonts/Roboto-Regular.ttf);
    src:url(../fonts/Roboto-Regular-webfont.woff);
    font-weight: normal;
    font-style: normal;
}

body{
    padding-top: 10px;
    background-color: #ffe2b0;
}

.header-logo{
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}

nav{
    /* background-color: #ffe2b0;
    position: sticky;
    top: 10px;
    z-index: 1; */
    margin-bottom: 20px;
}

ul{
   list-style-type: none; /* Убитрает точки списка */
   text-align: center;
   text-transform: uppercase;
   margin: 0;
   padding: 0px;
   display: flex;
   justify-content: center;
}

li{
    margin-right: 100px;
    display: inline;
}

li:last-child{ /*Последняя лишка*/
    margin-right: 0px;
}

/* li:nth-child(2) для выбора конкретного элемента */
/* li:nth-child(odd)
li:nth-child(even)
для чет нечет */
/* li:nth-child(3n) каждый 3й */
/* li:nth-child(3n+1) первый, четвертый и седьмой */


a{
    color: black;
    /* color: dodgerblue; */
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

a:hover{ 
    color: #0044ff;
    transition: 0.5s all;
}

.section-about{
    position: relative;
    height: 640px;
    background: url(../img/01-Img-of-Fon.jpg) center/cover no-repeat scroll;
    margin-bottom: 20px;
}

.content-in-img{
    position: absolute;
    height: 190px;
    width: 420px;
    background:linear-gradient(180deg,rgba(244,213,178,0.8) 0%, rgba(234,156,65,0.8) 100%);
    left: 60%;
    transform: translateX(-60px);
    top: 54%;
    padding-top: 15px;
}

.border{
    border: 1px solid black;
    height: 160px;
    width: 390px;
    margin: 0 auto;
    padding: 17px 0 0 28px;
    text-align: left;
}

.title{
    /* position: absolute; */
    font-size: 36px;
    margin: 0;
    margin-bottom: 9px;
    font-family: 'Philosopher!';
}

.text{
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.section-descriptions{
    margin-bottom: 20px;
}

.icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 20px;
}

.info{
    margin-bottom: 20px;
}

.title-2{
    text-align: center;
    font-size: 96px;
    margin: 0 0 20px 0;
}

.title-span{
    color: #f15b40;
}

.paragraph{
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    width: 1000px;
    margin: 0 auto;
}

.order{
    margin-bottom: 20px;
}

.title-3{
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

iframe{
    display: block;
    margin: 0 auto;
}

.line{
    margin: 0 auto 20px;
    width: 1024px;
    border-top: 1px solid darkcyan;
}

footer{
    height: 80px;
}

h1{
    font-family: 'Roboto!';
}


@media (max-width: 1200px) {
    .paragraph {
        width: 100%;
    }
    .line {
        width: 100%;
    }
}

@media (max-width: 991px) {
    a:hover{ 
        color: #000000;
    }
    iframe{
        width: 100%;
    }
    .content-in-img{
        left: 50%;
    }
    .title-2 {
        text-align: center;
        font-size: 66px;
        margin: 0 0 20px 0;
    }
    .title-3{
        font-size: 30px;
    }
    .paragraph{
        width: 95%;
        font-size: 17px;
    }
}

@media (max-width: 767px) {
    li{
        margin-right: 60px;
    }
    a{
        font-size: 17px;
    }
    .content-in-img{
        left: 30%;
    }
    .icons img{
        margin-bottom: 20px;
    }
    .icons img:last-child{
        margin-bottom: 0px;
    }
    .title-2{
        font-size: 50px;
    }
    .paragraph{
        font-size: 15px;
    }
    .title-3{
        font-size: 24px;
    }
}

@media (max-width: 575px) {
    a{
        display: none;
    }
    ul{
        padding-left: 20px;
        list-style-type: square;
        display: block;
        text-align-last: left;
    }
    li{
        position: relative;
        display: block;
        margin-right: 0;
        margin-bottom: 5px;
    }
    li:before{
        position: absolute;
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background: #000;
        left: -14px;
        top: 7px;
    }
    footer{
        display: none;
    }
    .content-in-img{
        width: 305px;
        height: 220px;
        top: 40%;
        left: 19%;
    }
    .border{
        width: 255px;
        height: 190px;
    }
    .title{
        font-size: 23px;
    }
    .text{
        width: 200px;
    }
    .section-about{
        height: 400px;
    }
    .icons img{
        width: 270px;
        height: 270px;
    }
    .title-2{
        font-size: 31px;
    }
    .title-3{
        font-size: 22px;
    }
}