$main-color: #1eacc7
$second-color: #ff5656

=btn_hover 
	&:hover 
		background-image: none 
		background-color: $main-color

*
	font-family: 'Roboto', sans-serif

html
	scroll-behavior: smooth

@import "general"
@import "media"