$section-grey: #f3f2f2

$color-blue: #5290EA
$color-orange: #F28B64
    
*
    box-sizing: border-box
    padding: 0
    margin: 0
    scroll-behavior: smooth

@font-face
    font-family: "MontserratT"
    src: url("../fonts/Montserrat-Regular.ttf")
    font-weight: normal
    font-style: normal
    font-display: swap

@font-face
    font-family: "MontserratT"
    src: url("../fonts/Montserrat-SemiBold.ttf")
    font-weight: normal
    font-style: normal
    font-display: swap

html
    font-family: "MontserratT", Arial, "Helvetica Neue", Helvetica, sans-serif

@import "general"
@import "media"